body {
    font-family: "Nunito Sans", sans-serif;
}

/* Card styling */
.country-card{

    transition: transform 0.2s;
    cursor: pointer;
    border: none !important;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
}
.country-card:hover{
    transform: translateY(-8px);
}
.country-card img{
    height: 160px; object-fit: cover;
}

/* Border buttons */
.border-btn {
  background: var(--bs-body-bg);
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

/* Modal */
.modal-flag{max-width: 100%; border-radius: 0.5rem;}

/* Dark Mode */
[data-theme="dark"] {
  background-color: #202c37 !important;
  color: #fff !important;
}

[data-theme="dark"] .bg-light { background-color: #2b3945 !important; }
[data-theme="dark"] .bg-white { background-color: #2b3945 !important; }
[data-theme="dark"] .text-dark { color: #fff !important; }
[data-theme="dark"] .form-control,
[data-theme="dark"] .form-select,
[data-theme="dark"] .btn-light {
  background-color: #2b3945 !important;
  color: #fff !important;
  border-color: #2b3945 !important;
}
[data-theme="dark"] .shadow-sm { box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.3) !important; }
