@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
:root {
  --bs-body-bg: white;
}
body.dark {
  --bs-body-bg: hsl(209, 23%, 22%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}
/* DARK MODE  */
body.dark {
  background-color: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 100%) !important;
}

body.dark .bg-light {
  background-color: hsl(207, 26%, 17%) !important;
}

/* body.dark .bg-white, */
body.dark .navbar,
body.dark .card,
/* body.dark .btn-white, */
body.dark .form-control,
body.dark .form-select,
/* body.dark .dropdown-menu,
body.dark .dropdown-item:hover { */
body.dark .btn,
body.dark .back-btn {
  background-color: hsl(209, 23%, 22%) !important;
  color: white !important;
}

body.dark .text-dark {
  color: hsl(0, 0%, 100%) !important;
}

body.dark .form-control::placeholder,
body.dark .form-select{
  color: rgba(255, 255, 255, 0.6) !important;
}
/* COUNTRY CARD STYLING */
.country-card{

    transition: transform 0.2s ease, box-shadow 0.25s ease;
    border: none !important;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: white;
}
body.dark .country-card {
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.country-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.country-card img{
    height: 160px;
    object-fit: cover;
    width: 100%;
}
.country-card .card-body {
  padding: 1.5rem;
}

.country-card h5 {
  font-weight: 800;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
/* .shadow-sm { box-shadow: 0 0 8px 0 rgba(0,0,0,0.1) !important; } */

/* SEARCH AND FILTER */

.form-control, .form-select {
    border:none !important;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1) !important;
    font-weight: 600;
    font-size: 0.95rem;
    background-color: white;
}
/* .dropdown-toggle {
  background-color: white !important;
  width: 200px;
  text-align: left;
} */
/* DARK MODE */
body.dark .form-control,
body.dark .form-select {
  background-color: hsl(209, 23%, 22%) !important;
  color: white !important;
}
/* BORDER COUNTRY BUTTONS */

.border-btn , .back-btn{
  background-color: var(--bs-body-bg) !important;
  border: none !important;
  padding: 0.4rem 1rem !important;
  border-radius: 0.35rem;
  font-size: 0.875rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  margin: 0.4rem 0.4rem 0.4rem 0;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
}
body.dark .back-btn,
body.dark .border-btn {
  background-color: hsl(209, 23%, 22%) !important;
  color: white !important;
}

.border-btn:hover, .back-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* CURSOR */
.cursor-pointer {
  cursor: pointer;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23999' viewBox='0 0 16 16'%3e%3cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3e%3c/svg%3e");
}

body.dark .form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3e%3cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3e%3c/svg%3e");
}